* {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}

/*
Header styling attributes
*/
.mainHeaderContainer {
    background-image: linear-gradient(to right, rgb(64, 99, 214), rgb(105, 45, 105));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 75px;
}

.titleHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(64, 99, 214), rgb(105, 45, 105));
    width: 100%;
    height: 75px;
}

/*
Search container styling attributes
*/
.searchTextContainer {
    font-size: 32px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.searchText {
    font-size: 32px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}


.searchButtonIcon {
    width: 100px;
    height: 45px;
    font-size: 24px;
    color: black;

}

/*
Day Weather Forecast Container
*/

.weatherDetailsContainer {
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    position: relative;
    top: 30px;
}

.weatherForecastTitle {
    font-size: 32px;
    text-align: Left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}

/*
Past Searches Container
*/

.searchHistoryContainer {
    border-top: solid;
    border-color: lightgray;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pastSearchesTitle {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.searchedListItemContainer {
    background-color: bisque;
    border-radius: 3px;
    border-style: solid;
    border-color: salmon;
    border-width: 1px;
    padding: 3px;
}

.searchedListItem {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.clearLocalStorageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: rgb(244, 82, 82);
}

/*
Five Day Forecast Container
*/

.fiveDayForecastContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid;
    border-color: lightgray;
    margin-top: 20px;
}

.fiveDayForecastDetails {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#dailyForecastGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(105, 45, 105);
    padding: 10px;
    border-style: solid;
    border-radius: 8px;
}

.grid-item {
    text-align: center;
    background-image: linear-gradient(to right, rgb(64, 99, 214), rgb(105, 45, 105));
}

.dailyForecastHeader {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 3px;
    margin-right: 5px;
}

.dailyForecastItemStyling {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 3px;
    margin-right: 5px;
}
